<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} </title>
    
    <!-- CSS BASE (FOND D'ECRAN) -->
    <style>
        
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        
        main{
            background-image: url('/static/coffe.png');
            background-position: center center;
            background-repeat: no-repeat;
            min-height: 100vh;
            min-width: 100vw;
            background-position-y: 0px;
            background-position-x: 0px;
            margin: 0;
            background-size: cover ;
        }
        
    </style>
    <!-- FIN CSS BASE -->

</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        
    </footer>
</body>
</html>