{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{%block content %}
{% include 'nav.html' %} 

<style>
    /* Styles pour centrer la boîte du formulaire */
    
.login-container {
    display: flex; 
    flex-direction: column;
    height: 100vh; 
    align-items: center; /* Centrer horizontalement */
    justify-content: flex-start; /* Aligner le contenu en haut de la page */
    margin-top: 10vh; /* Ajouter une marge supérieure de 10vh (ajustez selon vos besoins) */
}

form[name="form-container"] {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Aligner le texte à gauche à l'intérieur du formulaire */
    width: 45vw; /* Utilisez 50% de la largeur de la fenêtre */
    margin: 0 auto;
    
}

.form-title {
    text-align: center;
    font-size: 20px; /* Augmenter la taille du texte */
    margin-bottom: 17px;
    margin-top: 0px; 
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #A0522D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #7B4A12;
}
    
</style>



<div class="login-container">
<form method="post" action="{% url 'connexion' %}" name="form-container">
    <p class = "form-title">Connexion</p>
    {% csrf_token %}
    {% for field in form%}
        <div class="form-field">
            {{field.label_tag}}
            {{field}}
        </div>
    {% endfor %}
    <button name = "submit" type="submit">Submit</button>
</form>
</div>
{% endblock %}
    
