{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{%block content %}

<!-- NAV BAR -->
{% include 'nav.html' %}
<!-- END NAV BAR -->

<!-- CSS CREATION COMPTE -->
<style>
    @font-face {
    font-family: Hollirood;
    src: url('static/hollirood.ttf');
    }    
    /* NO SCROLLING */
    body {
        overflow: hidden; /* Désactiver le défilement vertical */
    }

   
    .signup-container {
    display: flex; 
    flex-direction: column;
    height: 100vh; 
    align-items: center; /* Centrer horizontalement */
    justify-content: flex-start; /* Aligner le contenu en haut de la page */
    margin-top: 16vh; /* Ajouter une marge supérieure de 10vh (ajustez selon vos besoins) */
    }

    form[name = "custom-form"]{
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left; /* Aligner le texte à gauche à l'intérieur du formulaire */
        width: 70vw; /* Utilisez 50% de la largeur de la fenêtre */
        margin: 0 auto;
        border : 1px solid #fff;
        background: rgba(180, 180, 180, 0.2); /* Couleur de fond avec transparence */
        -webkit-backdrop-filter: blur(10px); /* Flou sur le fond */
        backdrop-filter: blur(10px); /* Flou sur le fond */
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    button {
        background-color: #A0522D;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #7B4A12;
    }
    .form-title {
        font-family: Hollirood;
        text-align: center;
        font-size: 20px; /* Augmenter la taille du texte */
        margin-bottom: 17px;
        margin-top: 0px; 
    }
    .have-account{
    text-decoration: None;
    text-align: center;
    min-width: 100%;
    color: black;
    display: block;
    margin-top: 10px;
    }
</style>
<!-- END CSS CREATION COMPTE -->

<!-- HTML FORMULAIRE DE CREATION COMPTE -->
<div class = "signup-container">
    <form method="post" action="{% url 'creation_compte' %}" name="custom-form">
        {% csrf_token %}
        <p class = "form-title">Signup</p>
        {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        
        <button type="submit">Créer un compte</button>
        <a href="{% url 'connexion' %}" class = "have-account">Already have an account ?<br>Signin here</a>
    </form>
</div>
<!-- FIN FORUMULAIRE DE CREATION COMPTE -->

{% endblock %}

 
