{% extends 'base.html' %}

{% block title %}Boutique{% endblock %}

{% block content %}
<!-- NAV BAR -->
{% include 'nav.html' %} 
<!--  NAV BAR -->

<style>
    .capsule-container {
    display: flex;
    flex-wrap: wrap;
}

.capsule {
    width: 44%; /* Ajustez la largeur des colonnes selon vos besoins */
    margin: 3%; /* Ajustez la marge entre les colonnes selon vos besoins */
    box-sizing: border-box;
    border: 1px solid #fff;
    background: rgba(180, 180, 180, 0.2); /* Couleur de fond avec transparence */
    -webkit-backdrop-filter: blur(10px); /* Flou sur le fond pour safari*/
    backdrop-filter: blur(10px); /* Flou sur le fond */
    text-align: center; /* Centrez le texte à l'intérieur de la capsule */
    border-radius: 10px;
}

/* Assurez-vous de spécifier la largeur de l'image pour éviter les problèmes de mise en page */
.capsule img {
    width: 70%;
    height: auto;
    margin: 0 auto; /* Centrez l'image à l'intérieur de la capsule */
    display: block; /* Éliminez l'espace supplémentaire sous l'image */
    /* border: 1px solid #fff; */
}
.capsule_nom{
    margin: 0;
    height: 30px;
    margin-top: 10px;
}
.infos-capsule {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
    }

    /* Réinitialisez la marge pour aligner horizontalement */
.infos-capsule p {
        margin: auto;
    }
button[name = "commander-btn"] {
        background-color: #924824;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
        width: 80%;
        
    }
button[name = "commander-btn"]:hover{
    background-color: #440a05;
}

.B1 {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

.B1 a{
        width: 44%;
        background: #440a05;
        border: 1px solid #440a05;
        cursor: pointer;
        
        text-align: center;
        margin-left: 3%; /* Marge entre les boutons */
        margin-right: 3%;
        margin-top: 0px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        border-radius: 5px;
    }



</style>




<!-- shop.html -->
<div class="B1" >
    <a class="test" href="?type_capsule=vertuo">VERTUO</a>
    <a class ="test" href="?type_capsule=classique">CLASSIQUE</a>
</div>


<!-- Afficher les produits -->
<!-- Afficher les produits -->
<div class="capsule-container">
    {% for capsule in capsules %}
        <div class="capsule">
            <h3 class="capsule_nom">{{ capsule.nom }}</h3>
            
            {% if capsule.image %}
                <img src="{{ capsule.image.url }}" alt="{{ capsule.nom }}">
            {% endif %}
            
            <div class="infos-capsule">
                <p class="intensite-capsule">Intensité: {{ capsule.intensite }}</p>
                <p class="prix-capsules"> 0,{{ capsule.prix_en_centimes }}$ </p>
            </div>
            
            <button name="commander-btn">Commander</button>

            <!-- Ajoutez d'autres détails si nécessaire -->
        </div>
    {% endfor %}
</div>


{% endblock %}
    
