{% extends 'base.html' %}

{% block title %}Boutique{% endblock %}

{% block content %}


<!-- NAV BAR -->
{% include 'nav.html' %} 
<!--  FIN NAV BAR -->

<!-- CSS SHOP INDEX -->
<style>
@font-face {
    font-family: Hollirood;
    src: url('/static/Hollirood.ttf');
}  

.capsule-container {
    display: flex;
    flex-wrap: wrap;
}

.capsule {
    width: 44%; /* Ajustez la largeur des colonnes selon vos besoins */
    margin: 3%; /* Ajustez la marge entre les colonnes selon vos besoins */
    box-sizing: border-box;
    border: 1px solid #fff;
    background: rgba(220,220, 220, 0.5); /* Couleur de fond avec transparence */
    -webkit-backdrop-filter: blur(10px); /* Flou sur le fond pour safari*/
    backdrop-filter: blur(10px); /* Flou sur le fond */
    text-align: center; /* Centrez le texte à l'intérieur de la capsule */
    border-radius: 10px;
}

/* Assurez-vous de spécifier la largeur de l'image pour éviter les problèmes de mise en page */
.capsule img {
    width: 70%;
    height: auto;
    margin: 0 auto; /* Centrez l'image à l'intérieur de la capsule */
    display: block; /* Éliminez l'espace supplémentaire sous l'image */
    /* border: 1px solid #fff; */
}
.capsule_nom{
    margin: 0;
    height: 35px;
    margin-top: 10px;
}
.infos-capsule {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
    }

    /* Réinitialisez la marge pour aligner horizontalement */
.infos-capsule p {
        margin: auto;
    }
button[class = "commander-btn"] {
        background-color: #924824;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
        width: 80%;
        
    }
button[class = "commander-btn"]:hover{
    background-color: #440a05;
}
.capsule-title{
    font-size: 18px;
    color: black;
    text-align: center;
    font-family: Hollirood;
    background-color: white;
    margin-bottom: 0;
    border-top:1px solid #440a05;
    border-bottom:1px solid #440a05;
    padding-top: 1px;
    
}

</style>
<!-- FIN CSS SHOP INDEX -->


<!-- CAPSULES VERTUOS -->
<p class="capsule-title">VERTUO</p>
<div class="capsule-container">
    {% for capsule in capsules_vertuo %}
        <div class="capsule">
            <h3 class="capsule_nom">{{ capsule.nom }}</h3>

            {% if capsule.image %}
                <img src="{{ capsule.image.url }}" alt="{{ capsule.nom }}">
            {% endif %}

            <div class="infos-capsule">
                <p class="intensite-capsule">Intensité: {{ capsule.intensite }}</p>
                <p class="prix-capsules"> 0,{{ capsule.prix_en_centimes }}$ </p>
            </div>

            <button class="commander-btn" onclick="commander('{{ capsule.nom }}', '{{ capsule.prix_en_centimes }}')">Commander</button>
        </div>
    {% endfor %}
</div>

<!-- FIN CAPSULES VERTUOS -->



<!-- CAPSULES CLASSIQUES -->
<p class=" capsule-title">CLASSIQUE</p>
<div class="capsule-container">
    

    {% for capsule in capsules_classique %}
        <div class="capsule">
            <h3 class="capsule_nom">{{ capsule.nom }}</h3>
            
            {% if capsule.image %}
                <img src="{{ capsule.image.url }}" alt="{{ capsule.nom }}">
            {% endif %}
            
            <div class="infos-capsule">
                <p class="intensite-capsule">Intensité: {{ capsule.intensite }}</p>
                <p class="prix-capsules"> 0,{{ capsule.prix_en_centimes }}$ </p>
            </div>
            
            <button class="commander-btn" onclick="commander('{{ capsule.nom }}', '{{ capsule.prix_en_centimes }}')">Commander</button>

            <!-- Ajoutez d'autres détails si nécessaire -->
        </div>
    {% endfor %}
</div>

<!-- FIN CAPSULES CLASSIQUES -->

<!-- SCRIPT JS COMMANDER CAPSULE -->
<script>
    function commander(capsuleNom, capsulePrix) {
        // Get the CSRF token from the cookie
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Search for the CSRF token cookie
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Make an AJAX request to the the view that deal with orders
        $.ajax({
            type: "POST",
            url: '/boutique/order_capsule',
            headers: {
                 'X-CSRFToken': getCookie('csrftoken')  // Include the CSRF token in the headers
            },
            data: {
                capsule_nom: capsuleNom,
                capsule_prix: capsulePrix,
                account_num: "+33700002791"
            },
            success: function(response) {
                // Redirect to the Lydia URL to pay
                if (response.success){
                    window.location.href = response.redirect;
                } else {
                    console.log(response.message);
                }
            },
            error: function(error) {
                console.error("Error:", error);
            }
        });
    }
</script>
<!-- FIN JS COMMANDER CAPSULE -->

{% endblock %}
    
